global_defs {
}

vrrp_script chk_haproxy {
  script "killall -0 haproxy"
  interval 1
  weight 2
  fall 2
  rise 1
}

vrrp_instance VI_1 {
    interface eth0
    virtual_router_id 51
    state MASTER
    priority 101
    advert_int 1
    unicast_src_ip {{ ansible_default_ipv4.address }}
    unicast_peer {
      {% for peer in haproxy_keepalived_peers %}
      {{ peer }}
      {% endfor %}
    }
    authentication {
      auth_type PASS
      auth_pass Kls45f3d
    }
    virtual_ipaddress {
      {% for vip in haproxy_keepalived_virtual_ips %}
      {{ vip }}
      {% endfor %}
    }
    track_script {
      chk_haproxy
    }
}















vrrp_instance vrrp_1 {
  interface enp0s8       # Change network interface name
  state MASTER
  virtual_router_id 51
  priority 101
  virtual_ipaddress_excluded {
    192.168.50.10        # New IP address
  }
  track_interface {
    enp0s8 weight -2     # Change network interface name
  }
  track_script {
    chk_sshd
    chk_lb
  }
}


vrrp_instance vrrp_1 {
  interface enp0s8
  state BACKUP
  virtual_router_id 51
  priority 100              # A lower priority value than the primary
  virtual_ipaddress_excluded {
    192.168.50.10           # Same IP address as on primary
  }
  track_interface {
    enp0s8 weight -2
  }
  track_script {
    chk_sshd
    chk_lb
  }
}





vrrp_script chk_lb {
  script "pkill -0 hapee-lb"  # pkill -0 is cheaper than pidof
  interval 1                  # check every second
  weight 6                    # add 6 points of prio if present
  fall 2                      # check twice before setting down
  rise 1                      # check once before setting up
}

